:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196F3;
}
body {
    font-family: var(--main-font);
    }
h1,h2,h3 {
    margin: 0;
    padding: 00
}
ul {
    padding: 0;
    margin: 0
}
p {
    padding: 0;
}
img {
    display: block;
}
.container {
    width: 1200px;
    align-items: center;
    
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ==== HEADER ==== */
.header .container {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 25px;
}
.navigation {
    display: flex;
}
.navigation-list {
    display: flex;
    align-items: center;
    list-style: none;
}
.navigation-logo-header {
    margin-right: 93px;
    margin-left: 215px;
}
.navigation-list-item:nth-child(1) {
    margin-right: 46px;
}
.navigation-list-item:nth-child(2) {
    margin-right: 64px;
}
.header .link-mail {
    margin-left: 353px;
    margin-right: 50px;
}

.header .navigation-logo-header {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-color);;
}.navigation-logo-header > span {
    color: #000000;
}
.navigation-list-link,
.link-mail, 
.link-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.link-mail, .link-tel {
    color: #757575;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.link-mail:hover, .link-mail:focus,
.link-tel:hover, .link-tel:focus{
    color: var(--main-color)
}
/* ==== END HEADER ==== */
/* ==== MAIN ====*/

/* ==== HERO ==== */
.hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF; 
    background: #2F303A;
}
.hero .container {
    display: flex;
}
 .studio {
    width: 900px;
    margin-top: 200px;
    margin-bottom: 30px;
    margin-left: 452px;
    margin-right: 452px;
}
.index-modal-btn {
    width: 200px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    /*text-align: center;*/
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    display: block;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 700px;
    margin-bottom: 200px;
}
.index-modal-btn {
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    cursor: pointer;
    color: #FFFFFF;
    /* identical to box height, or 187%
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em; */
}
.modal-btn:hover, .modal-btn:focus {
    background-color: var(--main-color);
    color: #FFFFFF;
}
/* ==== END HERO ==== */

/* ==== LOREM IPSUM ====*/
.lorem-ipsum, .about {
    background: #FFFFFF;;
}
.our-team {
    background: #F5F4FA;
}

.lorem-ipsum .container {
    display: flex;
    margin-left: 205px;
    margin-right: 225px;
}
.list-text {
    display: flex;
    list-style: none;
}
.studio-lorem {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.list-text-item > .list-text-lorem {
    line-height: 1.714
}
/* ==== END LOREM IPSUM ==== */

/* ==== ABOUT ==== */
.about .studio-about {
    margin-bottom: 84px;
    text-align: center;
}
.list-picture {
    display: flex;
    list-style: none;
}
.list-picture-item {
    margin-right: 30px;
}
.list-picture-item:nth-child(1) {
    margin-left: 215px;
} 
.studio-about {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: #212121;
}
/* ==== END ABOUT ==== */

/* ==== OUR TEAM ====*/
.studio-our-team {
    margin-top: 94px;
    margin-bottom: 50px;
    text-align: center;
}
.list-persons {
    display: flex;
    list-style: none;
}
.list-persons-item {
    margin-right: 30px;
}
.list-persons-item:first-child {
    margin-left: 215px;
}
.list-persons-item:last-child {
    margin-right: 215px;
}
.list-persons .person-name {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.person-position {
    text-align: center;
}
.person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    /* identical to box height */
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: #212121;
}
.person-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    /* identical to box height */
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: #757575;
}

/* ==== END OUR TEAM ==== */



.photo-list-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}


.photo-list-text, .list-text-lorem {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}


/* ==== END MAIN ==== */

/* ==== FOOTER ==== */
.address-list-item{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    /* or 171% */
    letter-spacing: 0.03em;
    /* color: #FFFFFF; */
    
}
.address-list-link {
    text-decoration: none;
    color: #FFFFFF;
    
}
.address-list-link1 {
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.6);
}
.address-list-link2 {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.contact {
    background: #2F303A;
}
.navigation-logo-footer {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-color);
}
.navigation-logo-footer > span {
    color: #FFFFFF;
}
.address-list-link:hover, .address-list-link:focus,
.address-list-link1:hover, .address-list-link1:focus,
.address-list-link2:hover, .address-list-link2:focus{
    color: var(--main-color)
}
.contact .container {
    display: flex;
}
.navigation-logo-footer {
    margin-top: 60px;
    margin-bottom: 20px;
}
.address-footer {
    margin-left: 215px;
}
.address-list {
    list-style: none;
}
.address-list-item:nth-child(1) {
    margin-top: 20px;
}
.address-list-item {
    margin-bottom: 9px;
}

/* ==== END FOOTER ==== */




